<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partial/link.ejs') %>
</head>

<body>
    <%- include('../partial/navbar.ejs') %>
    <div class="heading">
        <h1>Manufacturing Process</h1>
    </div>
    <div class="img_a">
        {{!-- <img src="./img/Co. Profile Amazing Olizo Range.jpg" alt="" srcset=""> --}}
    </div>
    <div class="info">
        <div class="co-info">
            <h1>Manufacturing capability</h1>
            <p class="main-co">Greetings! I'd be delighted to take you on a journey through the captivating world of fabric
                customization and the diverse techniques that bring it to life. From traditional methods to cutting-edge
                innovations, let's explore how fabrics can be transformed into unique pieces of art.</p>

            <h3>1. Dyeing and Pigment Printing:</h3>

            <p class="main-co"><b>- Tie-Dye:</b> A classic technique involving twisting, folding, or tying fabric before applying dye to
                create intricate patterns.</p>
            <p class="main-co"><b>- Batik:</b>Originating from Indonesia, this technique uses wax to block areas of fabric from dye,
                resulting in intricate and colorful designs.</p>
            <h3>2. Block Printing:</h3>
            <p class="main-co"><b>- Woodblock Printing:</b>Designs are carved onto wooden blocks, which are then used to apply dye or
                pigment onto the fabric.</p>
            <p class="main-co"><b>- Screen Printing:</b> A stencil or screen is used to transfer ink or dye onto the fabric, allowing
                for precise and repeatable patterns.</p>

            <h3>3. Embroidery and Appliqué:</h3>

            <p class="main-co"><b>- Embroidery:</b> Intricate designs are stitched onto fabric using various types of stitches, threads,
                and embellishments.</p>
            <p class="main-co"><b>- Appliqué:</b>Fabric pieces are cut and sewn onto a base fabric to create layered and textured
                designs.</p>

            <h3>4. Digital Printing:</h3>
            <p><b>- Direct-to-Fabric Printing:</b>Using specialized printers, designs are directly printed onto fabric,
                allowing for intricate and detailed patterns.</p>
            <p><b>- Sublimation Printing:</b> Dye is transferred from a solid to a gas state and then back to solid,
                bonding with the fabric fibers for vibrant and long-lasting designs.</p>

            <h3>5. Resist Techniques:</h3>
            <p><b>- Wax Resist:</b>Applying wax to fabric before dyeing, which creates a barrier that prevents dye from
                penetrating, resulting in unique patterns.</p>

            <h3>7. Hand-Painting and Embellishments:</h3>
            <p><b> - Hand-Painting:</b>Artists use brushes, stamps, or other tools to paint directly onto fabric,
                creating one-of-a-kind designs.</p>
            <p><b> - Embellishments:</b>Adding beads, sequins, and other decorations to fabric to enhance its visual
                appeal and texture.</p>

            <h3>8. Quilting and Patchwork:</h3>
            <p class="main-co"><b>- Quilting:</b>Layers of fabric are stitched together with intricate patterns, providing both visual
                appeal and added warmth.</p>
            <p class="main-co"><b>- Patchwork:</b>Different fabric pieces are sewn together to create a larger design, often resulting
                in colorful and dynamic patterns.</p>

            <h3>9. Resin and Heat Manipulation:</h3>
            <p class="main-co"><b> - Resin Art: </b>Liquid resin is applied to fabric and manipulated to create unique textures, colors,
                and effects as it cures.</p>
            <p class="main-co"><b>- Heat Manipulation:</b>Using heat tools like irons or heat guns, fabric can be distorted, melted, or
                shaped to achieve artistic effects.</p>

            <h3>10. Upcycling and Collage:</h3>
            <p class="main-co"><b> - Upcycling:</b> Transforming existing garments or fabrics into new creations through cutting,
                sewing, and combining pieces.</p>
            <p class="main-co"><b> - Fabric Collage:</b>Combining different fabrics, textures, and materials to create multidimensional
                designs.</p>

            <p class="main-co">Each of these techniques offers a pathway to creativity, allowing artists, designers, and enthusiasts to
                express themselves through fabric customization. The fusion of traditional and modern approaches results
                in an ever-evolving landscape of possibilities, ensuring that the world of fabric customization remains
                captivating and inspiring.</p>
        </div>
        <div class="co-info">
            <h1>Journal QC of Fabric after dying and printing </h1>
            <p class="main-co">After the printing and dyeing process, the fabric is handed over to a checker for a meticulous
                inspection. This critical step involves examining the fabric for any miss-printing, damages, weaving
                issues, and other quality concerns to ensure a high-quality final product. </p>
        </div>
        <div class="co-info">
            <h1>Cutting</h1>
            <p class="main-co">After the printing and dyeing process, the fabric is handed over to the cutting master. This crucial step
                involves skilled precision to transform the vibrant, colored fabric into the desired pattern and shape
                for the final product. The cutting master's expertise ensures minimal waste and accurate sizing, laying
                the foundation for the next stages of production.</p>
        </div>
        <div class="co-info">
            <h1>Stitching</h1>
            <p class="main-co">Following the precise cutting of the fabric by the skilled cutting master, the next phase in the garment
                production process involves handing the prepared fabric over to the talented team of tailors. It is at
                this stage that the fabric undergoes its transformation into a finely crafted garment. The tailors
                employ their expertise and craftsmanship to sew and stitch the fabric together, meticulously bringing
                the design to life. This critical transition from raw material to wearable attire showcases the
                intricate workmanship and attention to detail that is central to the creation of each garment.</p>
        </div>
        <div class="co-info">
            <h1>Journal Checking - QC After Stitching</h1>
            <p class="main-co">After the fabric has been expertly stitched by tailors, it transforms into a garment. This garment is
                then handed over to a checker who meticulously inspects both the stitching quality and size accuracy to
                ensure the highest standards of craftsmanship are maintained. This critical step guarantees that each
                piece meets the desired quality and fits perfectly before it reaches its final destination.</p>
        </div>
        <div class="co-info">
            <h1> Embellishment </h1>
            <p class="main-co">After QC by checker, it is moved for thread cutting, washing, hand embellishments, such as hand
                embroideries, tassels, buttons etc.</p>
        </div>
        <div class="co-info">
            <h1> Pressing & Packing </h1>
            <p class="main-co">Following embellishment, the garment is pressed, checked by QC, and then finally packed for completion
            </p>
            <p class="main-co"><b>Equipment Name:</b> sewing machine Equipment quantity: 100</p>
            <p class="main-co"><b>Equipment Name:</b> Pressing and Packing Equipment quantity: 3</p>
            <p class="main-co"><b>Production Line-</b> Garment Production Line
                Supervisor Number: 5
                Number of Operators: 80
                QC/QA Number: 10</p>
        </div>
    </div>
    <%- include('../partial/footer.ejs') %>
    <script src="../js/script.js"></script>
    <script src="https://kit.fontawesome.com/d8397c9ffc.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>

</html>