<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partial/link.ejs') %>
</head>
<body>
    <%- include('../partial/navbar.ejs') %>
    <div class="heading">
        <h1>Sample Process</h1>
    </div>

    <div class="order_p">
        <img src="./img/4.jpg" alt="" srcset="">
    </div>

    <%- include('../partial/footer.ejs') %>
    <script src="../js/script.js"></script>
    <script src="https://kit.fontawesome.com/d8397c9ffc.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>
</html>