<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partial/link.ejs') %>
</head>

<body>
    <%- include('../partial/navbar.ejs') %>

    <div class="heading">
        <h1> <%= x.catagories %> </h1>
    </div>
     
    <div id="p_section">
        <% x.forEach(y => { %>
        <div class="card swiper-slide">
            <img src="./img/0W4A0493.jpg" alt="">
            <h4><%= y.product_name %></h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, reiciendis.</p>
            <button type="submit">Whatsapp</button>
        </div>
        <% }) %>
        <div class="card swiper-slide">
            <img src="./img/IMG_8315.jpg" alt="">
            <h4>Kurti's</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, reiciendis.</p>
            <button type="submit">Whatsapp</button>
        </div>
        <div class="card swiper-slide">
            <img src="./img/IMG_8330.jpg" alt="">
            <h4>Kurti's</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, reiciendis.</p>
            <button type="submit">Whatsapp</button>
        </div>
        <div class="card swiper-slide">
            <img src="./img/IMG_8423.jpg" alt="">
            <h4>Kurti's</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, reiciendis.</p>
            <button type="submit">Whatsapp</button>
        </div>
        <div class="card swiper-slide">
            <img src="./img/IMG_8469.jpg" alt="">
            <h4>Kurti's</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, reiciendis.</p>
            <button type="submit">Whatsapp</button>
        </div>
        <div class="card swiper-slide">
            <img src="./img/IMG_8487.jpg" alt="">
            <h4>Kurti's</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, reiciendis.</p>
            <button type="submit">Whatsapp</button>
        </div>
        <div class="card swiper-slide">
            <img src="./img/0W4A0493.jpg" alt="">
            <h4>Kurti's</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, reiciendis.</p>
            <button type="submit">Whatsapp</button>
        </div>
        <div class="card swiper-slide">
            <img src="./img/IMG_8315.jpg" alt="">
            <h4>Kurti's</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, reiciendis.</p>
            <button type="submit">Whatsapp</button>
        </div>
        <div class="card swiper-slide">
            <img src="./img/IMG_8330.jpg" alt="">
            <h4>Kurti's</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, reiciendis.</p>
            <button type="submit">Whatsapp</button>
        </div>
        <div class="card swiper-slide">
            <img src="./img/IMG_8423.jpg" alt="">
            <h4>Kurti's</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, reiciendis.</p>
            <button type="submit">Whatsapp</button>
        </div>
        <div class="card swiper-slide">
            <img src="./img/IMG_8469.jpg" alt="">
            <h4>Kurti's</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, reiciendis.</p>
            <button type="submit">Whatsapp</button>
        </div>
        <div class="card swiper-slide">
            <img src="./img/IMG_8487.jpg" alt="">
            <h4>Kurti's</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, reiciendis.</p>
            <button type="submit">Whatsapp</button>
        </div>
    </div>
    <script src="../js/script.js"></script>
    <script src="https://kit.fontawesome.com/d8397c9ffc.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>

</html>