<nav>
    <div class="logo"><a href="/admin/home">Dashboard</a></div>
    <div class="search">
        <form>
            <input type="search" name="search" placeholder="Search..." id=""class="pagination">
        </form>
    </div>
    <div class="navbar">
        <ul>
            <li><a href="/admin/query">All Query</a></li>
            <li><a href="/admin/company-info">Company info</a>
            <li><a href="/admin/banner">Banner</a>

                <ul id="sub-menu">
                    <li class="limenu"><a href="/admin/upload-banner">Add Banner</a></li>
                </ul>
            </li>
            <li><a href="/admin/offer">Offer</a>

                <ul id="sub-menu">
                    <li class="limenu"><a href="/admin/offer-update">Add Offer Img</a></li>
                </ul>
            </li>
            <li><a href="/admin/new-product">Add Product</a>
                <ul id="sub-menu">
                    <li class="limenu"><a href="/admin/link-edit">Update Link</a></li>
                </ul>
            </li>
            <li><a href="/admin/logout">Logout</a></li>
        </ul>
    </div>
</nav>