<div class="big">

    <div class="sml_nav">
        <nav id="small">
            <div class="socal">
                <ul>
                    <li><a href="https://api.whatsapp.com/send?phone=919910221914"><i
                                class="fa-brands fa-whatsapp"></i></a></li>
                    <li><a href="https://www.facebook.com/olizzo.in/"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="https://instagram.com/olizzo.in?utm_medium=copy_link"><i
                                class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="https://www.youtube.com/Olizzo"><i class="fa-brands fa-youtube"></i></a></li>
                </ul>
            </div>
            <div class="tab">
                <ul>
                    <li><a href="tel:+91 9910221914">Call</a></li>
                    <li><a href="mailto:olizzovib@gmail.com">Email</a></li>
                    <div id="google_translate_element"></div>
                </ul>
            </div>
        </nav>
    </div>

    <div class="big_container">
        <nav>
            <div class="logo"><img src="../img/PhotoRoom-20210529_221752__1_-removebg-preview.png" alt="" srcset="">
            </div>
            <div class="navbar">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li>
                        <a>Products</a>
                        <ul id="sub-menu">
                            <li class="limenu"><a href="/topA1-B2">Top</a></li>
                            <li class="limenu"><a href="/BodyA1-B3">Body</a></li>
                            <li class="limenu"><a href="/Short-DressA1-B4">Short Dress</a></li>
                            <li class="limenu"><a href="/Long-DressA1-B5">Long Dress</a></li>
                            <li class="limenu"><a href="/Jump-SuitA1-B6">Jump Suit</a></li>
                            <li class="limenu"><a href="/Cord-SetA1-B7">Cord Set</a></li>
                            <li class="limenu"><a href="/Short-SkirtA1-B8">Short Skirt</a></li>
                            <li class="limenu"><a href="/Long-SkirtA1-B9">Long Skirt</a></li>
                            <li class="limenu"><a href="/Paint-PalazzoA1-B10">Paint & Palazzo</a></li>
                        </ul>
                    </li>
                    <li><a href="/about">About us</a></li>
                    <li>
                        <a href="">Order Process</a>
                        <ul id="sub-menu">
                            <li class="limenu"><a href="/order">Sample Process</a></li>
                            <li class="limenu"><a href="/manufacture">Manufacturing Process</a></li>
                        </ul>
                    </li>
                        <box-icon name='down-arrow-alt' ></box-icon>
                    <li><a href="/register">Contact Us</a></li>
                </ul>
            </div>
            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </nav>
    </div>
</div>